.dashboard {
  position: absolute;
  top: 75px;
  left: 0;
  /* bottom: -10px; */
  width: 150px;
  height: 84vh;
  background: linear-gradient(
    90deg,
    rgb(14, 13, 13) 0%,
    rgba(0, 0, 0, 0.7708333333333334) 100%
  );

  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.tags {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.tag {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.tag i {
  margin-right: 10px;
}

.tag span {
  font-size: 16px;
}
