.container {
  display: flex;
  justify-content: center;
  height: 89vh;
  width: 100vw;
  background: #2c2c2c;
}
.content {
  margin-left: 180px;
  padding: 20px;
  width: calc(100% - 900px);
}
.error {
  color: red;
  font-size: 14px;
  margin-top: -8px;
  margin-bottom: 10px;
}
